@model BlogApi.Shared.Models.Email.TemplateModel;
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de cuenta</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333;
      }
      p {
        color: #555;
      }
      .btn {
        display: inline-block;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
</head>
<body>
<div class="container">
    <h1>Bienvenido, @Model.UserName !</h1>
    <p>Gracias por registrarte en nuestra aplicación. Para activar tu cuenta, por favor haz clic en el botón de abajo para verificar tu dirección de correo electrónico.</p>
    <p>Si no solicitaste esta verificación, ignora este correo.</p>
    <a class="btn" href="@Model.LinkOrToken">Verificar mi cuenta</a>
    <p>¡Gracias por unirte a nosotros!</p>
    <p>El equipo de Auth API</p>
</div>
</body>
</html>