@model BlogApi.Shared.Models.Email.TemplateModel;

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Auth API</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333;
      }
      p {
        color: #555;
      }
      .btn {
        display: inline-block;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
      }
    </style>
</head>
<body>
<div class="container">
    <h1>Bienvenido,@Model.UserName !</h1>
    <p>Gracias por iniciar sesión en nuestra aplicación. Estamos muy emocionados de que te unas a nuestra comunidad.</p>
    <p>Si tienes alguna pregunta, no dudes en ponerte en contacto con nosotros.</p>
    <a class="btn" href="@Model.LinkOrToken">Visita nuestra página</a>
    <p>¡Esperamos que disfrutes de tu experiencia con nosotros!</p>
</div>
</body>
</html>